@import 'bootstrap/scss/bootstrap.scss';
.container {
  .gif-container {
    overflow: hidden;
    height: 200px;
    width: 100%;

    .gif {
      width: 100%;
    }
  }

  .spacer {
    height: 30px;
    width: 100%;
  }
}
