@import 'bootstrap/scss/bootstrap.scss';

.gifs {
  column-gap: 1.5em;
  margin: 1.5em 0;
  padding: 0;

  .gif-item {
    box-shadow: 2px 2px 4px 0 #ccc;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 1.5em;
    width: 100%;

    img { width: 100%; }
  }

  @media only screen and (min-width: 400px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  @media only screen and (min-width: 700px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  @media only screen and (min-width: 900px) {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
